/.vs
/.idea
**/.run
**/DiscordBot/obj
**/DiscordBot/bin
**/Server/obj
**/Server/bin
docker-compose.env
*.user
Server/Database/Scripts/oauth/000010 - insert_auth_data.sql
.env
/Deployment/publish
/website/.next
/website/node_modules
website/next-env.d.ts
