
/Discord Template/bin/
/.vs
/.idea
/Discord Template/obj/Debug
/Discord Template/obj/Debug
/Discord Template/obj/
/Discord Template/bin/
/HeadHunter/bin/
/HeadHunter/obj/Debug
/HeadHunter/obj/
/HeadHunter/bin/
