<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/51ca7a82-7d1e-4cc3-a138-f446480e18a2/resourcegroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/HeadHunter20240916034452</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <ApiResourceId>/subscriptions/51ca7a82-7d1e-4cc3-a138-f446480e18a2/resourceGroups/HeadHunta/providers/Microsoft.ApiManagement/service/HeadHunterapi/apis/HeadHunter</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://headhunter20240916034452.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>51b32e44-544d-4d4c-b981-d063682bc2e7</ProjectGuid>
    <MSDeployServiceURL>headhunter20240916034452.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HeadHunter20240916034452</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HeadHunter20240916034452</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>