<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/51ca7a82-7d1e-4cc3-a138-f446480e18a2/resourceGroups/HobbyProjects/providers/Microsoft.ApiManagement/service/NZWalksAPIapi/apis/NZWalksAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/51ca7a82-7d1e-4cc3-a138-f446480e18a2/resourcegroups/HobbyProjects/providers/Microsoft.Web/sites/HeadHunter20240912005523</ResourceId>
    <ResourceGroup>HobbyProjects</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://headhunter20240912005523.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>51b32e44-544d-4d4c-b981-d063682bc2e7</ProjectGuid>
    <PublishUrl>https://headhunter20240912005523.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HeadHunter20240912005523</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>